body {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 25px;
	background-color: #f9f9f9;

}

h1 {
	font-size: 54px;
	text-align: center;
	margin: 25px auto 25px auto;
	color: #2d2d2d;
}

.contact {
	text-align: center;
	margin-top: 25px;
}

a {
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #337ab7;

}


.videoWrapper {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

/*.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/


iframe {
/*	margin-left: auto;
	margin-right: auto;*/
}

