body {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

#following {
	top: 2em;
	margin-left: 60%;

	position:fixed;

}

#feed {
	width: 50%;
	margin-left: 7%;
}

.tweet {
	margin-top: 2em;
	margin-bottom: 2em;
}

.user {
	text-align: left;
	width: 10em;
	font-weight: 700;
	transition: all 0.1s ease-in-out;

}

.author {
	font-weight: 700;
}

.time {
	font-size: .7em;
	font-weight: 300;
	cursor: default;
}

button {
	display: block;
	border:0;
	background-color: inherit;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}


button:focus {
	outline: none;
}

.highlight {
	background-color: #ddd;
	margin-left:-3px;
	cursor:pointer;
}

.selected {
	background-color: black;
	color: white;
}
